@import 'C:\\framework-js\\MK-S\\src\\new-home-page\\assets\\style\\var.scss';
/**
* -----------------------------------------------------------------------
*                                Statistic
* -----------------------------------------------------------------------
*/
#statistic {
    padding-bottom: 60px!important;
    background-color: #fff;

    & .btn {
        margin-top: 20px;
    }

    & .title {
        font-family: 'lorabold';
        font-size: 32px;
        line-height: 41px;
        font-weight: 700;
        color: #222222;
        text-align: center;
        padding-top: 70px;
        margin: 0;
        // padding-bottom: 20px;
    }

    & .card {
        padding: 0;
        margin: 0;
        border: 0;
    }

    & .card-body {
        padding: 0;
        margin: 0;
    }

    & .card-title {
        font-family: 'lorabold';
        font-size: 46px;
        line-height: 59px;
        font-weight: 700;
        color: #D50000;
        text-align: center;
        padding-bottom: 10px;
        margin: 0;

        @media (max-width: $screen-xbs-max) {
            font-size: 42px;
        }

        @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
            font-size: 42px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 42px;
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            font-size: 42px;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 46px;
        }

    }

    & .sub-title {
        font-family: 'open_sansbold';
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: #000;
        // padding-bottom: 28px;
        text-align: center;
    }

    & .text {
        font-family: 'open_sansregular';
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: #000;
        // padding-bottom: 18px;
        text-align: center;
        padding-top: 8px;
        // padding-right: 77px;
    }

    & .card-text {
        font-family: 'open_sansregular';
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #222222;
        padding-bottom: 18px;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    & .card-img-top {
        height: 100%;
    }

    & .text-t1 {
        font-family: 'open_sansregular';
        font-size: 15px;
        line-height: 26px;
        font-weight: 400;
        color: #222222;
        padding-bottom: 18px;
        text-align: center;
        padding-top: 20px;
        // padding-right: 77px;
        padding-bottom: 65px;
    }

}
/**
* -----------------------------------------------------------------------
*                              Statistic End
* -----------------------------------------------------------------------
*/
