@import 'C:\\framework-js\\MK-S\\src\\new-home-page\\assets\\style\\var.scss';
/**
* -----------------------------------------------------------------------
*                                  Button
* -----------------------------------------------------------------------
*/
.btn-primary {
    border: 0;

    &:hover {
        color: #fff;
        background-color: #BF0000;
        border-color: #BF0000;
    }

    &.focus, &:focus {
        box-shadow: 0 0 0 0.2rem rgba(191,0,0,.5);
    }

}

.btn-sign-in {
    background-color: #E00C00;
    width: 100%;
    height: 50px;
    font-family: 'open_sansbold';
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 18px;
    border-radius: 6px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        & {
            width: 240px;
        }
    }

    @media (min-width: $screen-lg-min) {
        & {
            width: 240px;
        }
    }

}

.btn-sign-in-menu {

    background-color: #E00C00;
    width: 200px;
    height: auto;
    font-family: 'open_sansbold';
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 16px;
    border-radius: 6px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        & {
            width: 124px;
            height: 36px;
        }
    }

    @media (min-width: $screen-lg-min) {
        & {
            width: 124px;
            height: 36px;
        }
    }

}
/**
* -----------------------------------------------------------------------
*                                Button End
* -----------------------------------------------------------------------
*/
