@import 'C:\\framework-js\\MK-S\\src\\new-home-page\\assets\\style\\var.scss';
/**
* -----------------------------------------------------------------------
*                                  Media
* -----------------------------------------------------------------------
*/
#media {

    & {
        background-color: #fff;
    }

    & .owl-media {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    & .card {
        // padding: 50px 0!important;
        border: 0;
        background: transparent;
        height: auto;
    }

}
/**
* -----------------------------------------------------------------------
*                                Media End
* -----------------------------------------------------------------------
*/
