@import 'C:\\framework-js\\MK-S\\src\\new-home-page\\assets\\style\\var.less';
/**
* -----------------------------------------------------------------------
*                                  Media
* -----------------------------------------------------------------------
*/
.media {

    padding-top: 70px;
    padding-bottom: 70px;

    & picture{
        padding-right: 98px;
    }

    & picture img{
        // width: 100%;

    }

    & picture img.globo{
        height: 26.5px;

    }

    & picture img.forbes{
        height: 25px;

    }

    & picture img.trip{
        height: 50px;
    }

    & picture img.redetv{
        height: 50px;
    }

    & picture img.yahoo{
        height: 24px;
    }

    & picture img.gnt{
        height: 30px;
    }

}
/**
* -----------------------------------------------------------------------
*                                Media End
* -----------------------------------------------------------------------
*/
