.page-model{

    & picture img{
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    & .title{
        font-family: 'lorabold';
        font-size: 32px;
        line-height: 41px;
        font-weight: 700;
        color: #222;
        text-align: center;
        padding: 40px 0;
    }

    & .text{
        font-family: 'open_sansregular';
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: #222222;
        text-align: center;
        padding: 40px 0;
    }

}
